@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* Read More */
.gradient-mask {
  white-space: nowrap;
  -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 10%, rgba(0,0,0,0));
}

.card-shadow-1 {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

/* Landing - About */
.about-background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 70%;
}

.clip-path-div {
  clip-path: polygon(0% 100%, 100% 100%, 100% 0%, 20% 0%, 0% 100%);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  padding: 0;
}

.half-bg-primary {
  background: linear-gradient(to bottom, #776B5D 70%, #ffffff 30%);
}

/* Carousel */

.embla {
  --slide-spacing: 1rem;
  --slide-size: 100%;
  --slide-height: 19rem;
}
.embla__viewport {
  overflow: hidden;
}
.embla__container {
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-y;
  margin-left: calc(var(--slide-spacing) * 50%);
}
.embla__slide {
  flex: 0 0 var(--slide-size);
  padding: var(--slide-spacing);
  position: relative;
  height: fit-content;
}

.embla__dots {
  z-index: 1;
  position: relative;
  left: 0;
  right: 0;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.embla__dot {
  width: 0.5rem;
  height: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.50rem;
  margin-left: 0.50rem;
  background-color: transparent;
  border: 0.1rem solid #432F2B;
  border-radius: 50%;
  cursor: pointer;
  position: relative; 
  transition: background-color 0.3s ease;
}

.embla__dot:hover {
  background-color: #432F2B;
}

.embla__dot--selected {
  background-color: #432F2B;
}


/* Admin */

.button-28 {
  background-color: transparent;
  border-color: olive;
  color: olive    
}

.button-28:hover {
  background-color: olive;
  border-color: olive;
  color: white    
}

/* CSS */
.button-30 {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #432F2B;
  cursor: pointer;
  display: inline-flex;
  height: 32px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
}

.button-30:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

/* CSS */
.button-29 {
  align-items: center;
  appearance: none;
  background-color: #f31260;
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(66, 35, 35, 0.4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(111, 58, 58, 0.5)0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  height: 32px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
}

.button-29:focus {
  box-shadow: #ce1858 0 0 0 1.5px inset, rgba(66, 35, 44, 0.3) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #ce1858 0 -3px 0 inset;
}

.button-29:hover {
  box-shadow: #b3194f 0 4px 8px, rgba(66, 35, 44, 0.3) 0 7px 13px -3px, #ce1858 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-29:active {
  box-shadow: #ce1858 0 3px 7px inset;
  transform: translateY(2px);
}

@media (max-width: 576px) {
  .ContactBar {
    overflow-x: scroll;
    white-space: nowrap;
  }
}
